<%- include('./partials/header') %>
<center>
<h2>Welcome to Playlist Keeper:</h2> <Br>
    a corner of the internet to host your hand-crafted lists of songs, <Br>
    personalized for any occasion. 

    
</center>
<%- include('./partials/footer') %>