
.table-container {
    max-height: 500px;
    overflow-y: scroll;
}

.table-container thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.table-wrapper {
    height: 300px;
    overflow-y: scroll;
}

.table-wrapper thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;

}


